{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div>
      <div class="dropdown">
        <a class="btn btn-secondary d-inline-flex align-items-center me-2 dropdown-toggle"
           href="{% url 'manager:tasks-update' pk=task.id %}">Update info</a>
        <a class="btn btn-danger d-inline-flex align-items-center me-2 dropdown-toggle"
           href="{% url 'manager:tasks-delete' pk=task.id %}">Delete task</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-12">
      <div class="card card-body border-0 shadow mb-4">
        <h2 class="h5 mb-4">Task information</h2>
        <form>
          <div class="row">
            <div class="col-md-6 mb-3">
              <div>
                <label>Name</label>
                <br>
                <span>{{ task.name }}</span>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div>
                <label>Priority</label>
                <br>
                <span>{{ task.priority }}</span>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-6 mb-3">
              <label>Is Completed</label>
              <div class="input-group">
                <br>
                {% if task.is_complited %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-check2" viewBox="0 0 16 16">
                    <path
                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
                  </svg>
                {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                  </svg>
                {% endif %}
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label>Deadline</label>
              <br>
              {{ task.deadline }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>Task Type</label>
                <br>
                <span>{{ task.task_type }}</span>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>Employee</label>
                <ul>
                  {% for dev in task.assignees.all %}
                    <li>{{ dev }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <label>Description</label>
          <br>
          <span>{{ task.description }}</span>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}