{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div>
      <div class="dropdown">
        <a class="btn btn-secondary d-inline-flex align-items-center me-2 dropdown-toggle"
           href="{% url 'manager:task-types-update' pk=tasktype.id %}">Update info</a>
        <a class="btn btn-danger d-inline-flex align-items-center me-2 dropdown-toggle"
           href="{% url 'manager:task-types-delete' pk=tasktype.id %}">Delete task type</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-12">
      <div class="card card-body border-0 shadow mb-4">
        <h2 class="h5 mb-4">Task Type information</h2>
        <form>
          <div class="row">
            <div class="col-md-6 mb-3">
              <div>
                <label>Name</label>
                <br>
                <span>{{ tasktype.name }}</span>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div>
                <label>Tasks</label>
              {% if tasktype.tasks.all %}
                <ul>
                  {% for taskt in tasktype.tasks.all %}
                    <li>{{ taskt }}</li>
                  {% endfor %}
                </ul>
              {% else %}
                <br>No tasks at this moment
              {% endif %}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}