{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">All Tasks</h2>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <a href="{% url 'manager:tasks-create' %}" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        New Task
      </a>
    </div>
  </div>
  <div class="table-settings mb-4">
    <div class="row align-items-center justify-content-between">
      <div class="col col-md-6 col-lg-3 col-xl-4">
        <div class="input-group me-2 me-lg-3 fmxw-400">
          <div class="input-group-text">
            <form action="" method="get" class="form-control">
            {{ search_form|crispy }}
            <input class="btn" type="submit" value="🔍">
          </form>
            <a class="btn btn-behance" style="margin-left: 20px" href="{% url 'manager:tasks-list' %}">Clear</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="border-gray-200">Task Name</th>
          <th class="border-gray-200">Priority</th>
          <th class="border-gray-200">Deadline</th>
          <th class="border-gray-200">Is Completed</th>
        </tr>
      </thead>
      <tbody>
        {% for task in task_list %}
          <tr>
            <td>
              <a href="{% url 'manager:tasks-detail' pk=task.id %}" class="fw-bold">
                <span class="fw-normal">{{ task.name }}</span>
              </a>
            </td>
            <td>
              <span class="fw-normal">{{ task.priority}}</span>
            </td>
            <td>
              <span class="fw-normal">{{ task.deadline }}</span>
            </td>
            <td>
              {% if task.is_completed %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
                  </svg>
                {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                  </svg>
                {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "includes/paggination.html" %}
  </div>

{% endblock content %}